/* halaman surprise */

.surprise{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:black;
  color:white;
  animation:fade 2s;
}

.photo{
  width:250px;
  height:250px;
  object-fit:cover;
  border-radius:20px;
  margin-bottom:20px;

  box-shadow:
  0 0 30px #ff4da6,
  0 0 60px #6a5cff;

  animation:float 3s ease-in-out infinite;
}

.surprise h1{
  font-size:45px;
  margin-bottom:10px;
}

.surprise p{
  font-size:20px;
  opacity:0.8;
}
