*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(
    135deg,
    #0f0f0f,
    #1a1a2e,
    #16213e
  );
  overflow:hidden;
  font-family:sans-serif;
  color:white;
}

.container{
  text-align:center;
}

.gift-box{
  font-size:120px;
  cursor:pointer;
  transition:0.4s;
  animation:float 2s ease-in-out infinite;
  filter:drop-shadow(0 0 20px #ff4da6);
}

.gift-box:hover{
  transform:scale(1.1);
}

h1{
  margin-top:20px;
  font-size:32px;
}

@keyframes float{
  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-15px);
  }

  100%{
    transform:translateY(0px);
  }
}

/* efek buka hadiah */
.open{
  animation:boom 1s forwards;
}

@keyframes boom{
  0%{
    transform:scale(1) rotate(0deg);
    opacity:1;
  }

  50%{
    transform:scale(1.5) rotate(20deg);
  }

  100%{
    transform:scale(0);
    opacity:0;
  }
}
